.navigation-menu {
    --header-color: #FFF;
    --selected-tab-color: #ECEDE8;
    --unselected-tab-color: #F6F6F4;
    --font-color: #242C2E;
    --border-color: rgba(255, 255, 255, 0.5);
    --hover-font-color: #768E93;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nameAndContactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /*background-color: var(--black);*/
    background-image: url("https://www.freecreatives.com/wallpapers/geometry-wallpaper.html");
}

.contactList {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 3.3rem;
    justify-content: right;
}

.contactLink {
    padding: 0.5rem;
    color: var(--font-color);
}

.contactLink:hover {
    color: var(--hover-font-color);
}

.nameAndTabs {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: var(--header-color);
}

.name {
    color: var(--font-color);
    background-color: var(--header-color);
    display: flex;
    max-width: 100%;
    padding-left: 1rem;
    padding-top: 1.5rem;
    justify-content: left;
    font-family: 'NotoSans';
    /*border-bottom: 0.05rem solid var(--border-color);*/
}

/* <ul> */
.tabList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.tab {
    /*padding: 0.5rem;*/
    margin-top: 1rem;
    padding: 0.4rem;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--unselected-tab-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 100%;
    display: flex;
    font-family: 'NotoSans';
    font-weight: lighter;
    border-top: 0.05rem solid var(--border-color);
    border-left: 0.005rem  solid  var(--border-color);
    border-right: 0.005rem  solid var(--border-color);

    transition: all 0.5s ease-out;
    /*border-bottom: 0.01rem  solid var(--border-color);*/
}

.selectedTab {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom: 0;
    border-top: 0.05rem solid var(--border-color);
    border-left: 0.02rem  solid  var(--border-color);
    border-right: 0.02rem  solid var(--border-color);
    background-color: var(--selected-tab-color);
    font-weight: bolder;
}

/* <ul> */
.links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

a {
    color: var(--font-color);
}

a:hover {
    color: var(--hover-font-color);
}

/*h1:hover {
    color: var(--hover-font-color);
}*/

/*.navbar li {
    size: 12px;
}*/

/**********ABOUT ME************/
.aboutMePage {
    font-family: 'NotoSans';
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutMeComp {
    width:50%;
    padding: 1rem;
    color: var(--hover-font-color);
    border-radius: 0.5rem;
    margin: 0.25rem;
}

.overview {
    border-top-left-radius: 0.5rem;
    width: 100%;
    text-align: center;
}

.skills {
    border-top-left-radius: 0.5rem;
    padding: 1rem;
    background-color: #FFF;
    flex-grow: 2;
}

.skillList {
    list-style-type: none;
    padding-left: 1rem;
}

.skill {
    padding-bottom: 1rem;
}

.certifications {
    border-top-right-radius: 0.5rem;
    background-color: #EFFBF5;
    justify-content: center;
    flex-grow: 1;
}

.experience {
    border-bottom-left-radius: 0.5rem;
    background-color: #EFFBF5;
    flex-grow: 2;
}

.hobbiesInterests {
    border-bottom-right-radius: 0.5rem;
    background-color: #FFF;
    width: 30%;
    flex-grow: 1;
}

.sfCertIcon {
    width: 5rem;
    transition: transform .7s ease-in-out;
}

.sfCertIcon:hover {
    transform: rotate(360deg);
}

.sfCertList {
    list-style-type : none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

}
