.navigation-menu {
    --background-color: #252532;
    background-color: #252532;
    display: flex;
    --black: #000;
    --font-color: #C2E7D9;
    --border-color: rgba(255, 255, 255, .5);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nameAndContactInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name {
    color: var(--font-color);
    background-color: var(--black);
    display: flex;
    max-width: 100%;
    width: 50%;
    margin: 0;
    padding: 0.5rem;
    /*border-bottom: 0.02rem solid var(--border-color);*/
}

.contactList {
    display: flex;
    list-style: none;
}

.contactLink {
    padding: 0.5rem;
    color: var(--font-color);
}

.nameAndTabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(37, 37, 50);
}

/* <ul> */
.tabList {
    display: flex;
    flex: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab {
    /*padding: 0.5rem;*/
    padding: 0;
    color: var(--font-color);
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    /*border-top: 0.02rem solid var(--border-color);
    border-left: 0.01rem  solid  var(--border-color);
    border-right: 0.01rem  solid var(--border-color);
    border-bottom: 0.02rem solid var(--border-color);*/
}

.selectedTab {
    border-bottom: 0rem;
    background-color: var(--background-color);
}

.aboutMe {
}

/* <ul> */
.links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

a {
    color: var(--font-color);
}

a:hover {
    color: #00F
}

/*.navbar li {
    size: 12px;
}*/